<div class="input-group">
    <input type="text" class="form-control" placeholder="Search..." ng-model="searchBy">
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"><i class="fa fa-plus"></i> key</button>
      </span>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Title</th>
        <th>Fingerprint</th>
        <th>Key</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="key in keys | filter:searchBy | orderBy: 'user'">
        <td>{{key.id}}</td>
        <td>{{key.user}}</td>
        <td>{{key.title}}</td>
        <td>{{key.fingerprint}}</td>
        <td><a ng-click="showKey(key)"><i class="fa fa-search"></i></a></td>
        <td><a ng-click="deleteKey(key)"><i class="fa fa-trash"></i></a></td>
    </tbody>
</table>